.blog {
  &_container {
    background-color: #fff;
    border: $border;
    border-radius: $space-tiny;
    margin-top: $space * 2;
  }

  &_content {
    padding: $space;
    display: grid;
    gap: $space*2;
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: $space * 2;
  }

  &_tag {
    text-decoration: none;
    color: #404040;
    font-weight: normal;
    font-size: 0.8em;
    padding: 8px;
    margin: 1px;
    border: $border;
    background-color: white;
    border-radius: $space-tiny;
    text-transform: uppercase;
    -webkit-transition:transform 0.1s ease-in; 
    -moz-transition:transform 0.1s ease-in;
    -o-transition:transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
  }

  &_tag:hover {
    text-decoration: none;
    color: #404040;
    cursor: pointer;
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 0px $space-half 0px #cccccc;
    -moz-box-shadow: 0px 0px $space-half 0px #cccccc;
    box-shadow: 0px 0px $space-half 0px #cccccc;
  }

  &_tag p {
    line-height: normal;
  }

  &_heading {
    padding: $space;
    padding-bottom: $space*2;
    border-bottom: $border;

    > h1 {
      color: $primary-color;
      margin-top: $space-half*3;
    }

    > h2 {
      font-size: 1em;
      margin-top: $space-half;
      margin-bottom: $space-half*3;
      font-weight: normal;
      font-style: oblique;
    }
  }

  &_recent {
    margin-top: $space * 2;
  }

  &_recent-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-items: stretch;
    grid-gap: $space;
  }

  &_comments {
    display: block;
    background-color: #fff;
    border: $border;
    border-radius: $space-tiny;
    margin-top: $space * 2;

    > h2 {
      margin-bottom: $space;
      padding: $space;
      border-bottom: $border;
    }

    &-github {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: $space*2;
      padding: $space;
    }

    #disqus_thread {
      border: none;
      border-top: $border;
      padding: $space;
      box-sizing: border-box;

      > iframe {
        box-sizing: border-box;
        border: none;
      }
    }
  }

  &_stats {
    margin-top: $space * 2;
    background-color: #fff;
    border: $border;
    border-radius: $space-tiny;

    > h2 {
      padding: $space;
      padding: $space;
      border-bottom: $border;
    }

    > p {
      padding: $space;
    }
    
    > .graph {
      padding: $space;
      padding-top: 0px;
      box-sizing: border-box;
    }
  }

  &_prevnext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space;
    margin-top: $space * 2;
  }

  &_prevnext h2 {
    display: flex;
    align-items: center;
  }

  &_prevnext p {
    line-height: 20px;
  }

  &_suggest {
    margin-top: $space * 2;
  }

  &_suggest-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-items: stretch;
    grid-gap: $space;
  }

  &_break {
    margin-top: $space;
    margin-bottom: $space;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_arrow-next {
    text-decoration: none;
    color: #404040;
    display: grid;
    grid-gap: $space;
    justify-content: flex-end;
    padding: $space;
    border: 1px solid #cccccc;
    background-color: white;
    transition: transform 0.1s;
  }

  &_arrow-next:hover {
    color: #404040;
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px $space-half 0px #cccccc;
    -moz-box-shadow: 0px 0px $space-half 0px #cccccc;
    box-shadow: 0px 0px $space-half 0px #cccccc;
    text-decoration: none;
  }

  &_arrow-prev {
    text-decoration: none;
    color: #404040;
    display: grid;
    grid-gap: $space;
    padding: $space;
    border: 1px solid #cccccc;
    background-color: white;
    transition: transform 0.1s;
  }

  &_arrow-prev:hover {
    color: #404040;
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px $space-half 0px #cccccc;
    -moz-box-shadow: 0px 0px $space-half 0px #cccccc;
    box-shadow: 0px 0px $space-half 0px #cccccc;
    text-decoration: none;
  }

  &_related {
    margin-top: $space * 2;
    display: grid;
    grid-template-rows: auto 1fr;

    &-listings {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $space;
    }
  }

  &_popular {
    margin-top: $space * 2;
  }

  &_popular-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-items: stretch;
    grid-gap: $space;
  }

  &_share {
    margin-top: $space * 2;
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-wrap: nowrap;
    align-items: center;
    grid-gap: $space;

    &-reddit {
      background-color: #FF4301 !important;
      margin-right: $space-half;
      margin-left: $space-half;
    }

    &-twitter {
      background-color: #1DA1F2 !important;
      margin-right: $space-half;
    }

    &-facebook {
      background-color: #3b5998 !important;
      margin-right: $space-half;
      margin-left: $space-half;
    }

    &-linkedin {
      background-color: #2867B2 !important;
      margin-left: $space-half;
    }

    &-github {
      background-color: #333 !important;
      margin-right: $space-half;
      margin-left: $space-half;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-size: 1em;
      padding: $space;
      text-decoration: none;
      color: #ffffff;
      background-color: #00cc99;
      border-radius: $space-tiny;
    }

    div {
      font-size: 0.9em;
      width: 0px;
      text-align: center;
      overflow: hidden;
      transition: width 0.2s;
    }

    a:hover > div {
      width: 60px;
    }
  
    a:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }

  &_donate {
    margin-top: $space;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  @media only screen and (max-width: 800px) {
    &_related-listings {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 600px) {
    &_suggest-listings, &_related-listings, &_popular-listings, &_recent-listings, &_share, &_related-mids {
      grid-template-columns: 1fr;
    }
  }
}