.home {

  &_container {
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
    padding: $space;
    box-sizing: border-box;

    &_content {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: $space * 2;
    }
  }

  &_update {
    border: $border;
    background-color: #fff;
    border-radius: $space-tiny;
    padding: $space-half;
    margin-bottom: $space * 2;
  }

  &_listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-content: flex-start;
    grid-gap: $space * 2;
  }

  &_headers {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr;
  }

  &_tags {
    margin-top: $space * 2;
  }

  &_tag-title {
    padding: 30px 10px 20px 10px;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &_tag-listings {
    display: flex;
    flex-wrap: wrap;
  }

  &_popular {
    margin-top: $space * 2;
  }

  &_popular-listings {
    display: grid;
    grid-gap: $space;
    overflow: hidden;
  }

  @media only screen and (max-width: 850px) {
    &_headers {
      display: grid;
      grid-gap: $space;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    &_tags {
      grid-column: span 1;
    }

    &_container_content {
      grid-template-areas: "a" "b";
      grid-template-columns: 1fr;
    }

    &_sidebar {
      grid-area: a;
    }

    &_listings {
      grid-area: b;
    }
  }

  @media only screen and (max-width: 390px) {
    &_listings {
      grid-template-columns: 1fr;
    }
  }

}