.nav {

  &_container {
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 1300px;
    margin: 0 auto;
    height: $space*5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    background-color: white;
    box-sizing: border-box;
    border-bottom-left-radius: $space-tiny;
    border-bottom-right-radius: $space-tiny;

    &-mobile {
      @extend .nav_container;
      > .nav_item {
        > span {
          margin-right: 0px;
        }
      }
    }

    > * {
      border-left: $border;
    }

    > *:first-child {
      border: none;
    }
  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    text-decoration: none;
    font-weight: bold;

    > span {
      margin-right: $space;
    }
  }

  &_item:hover {
    background-color: #f2f2f2;
    color: #00cc99;
    text-decoration: none;
  }

  &_loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}