.nav {

  &_container {
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 1300px;
    margin: 0 auto;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: white;
    box-sizing: border-box;
  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    text-decoration: none;
    font-weight: bold;
  }

  &_item:hover {
    background-color: #f2f2f2;
    color: #00cc99;
    text-decoration: none;
  }

  &_loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &_container-mobile {
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 50px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    box-sizing: border-box;
    display: grid;
  }

  &_container-mobile > * {
    min-height: 50px;
  }

  &_container-mobile-menu {
    min-height: 50px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_menu {
    font-size: 25px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_menu:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: #00cc99;
  }

}