node_modules
.vscode
**/node_modules
**/node_modules

**/.vscode
**/.vscode

**/dist
**/build
**/target

lerna-debug.log
server/.git
plugin/rust-wasm/target
.DS_Store
__MAC_OSX

/data
/archive
/client/public/plugins
/client/public/sitemap.xml

!server/resources/build