.adblock {

  &_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    background-color: #00cc99;
    border-top: 1px solid #cccccc;
  }

  &_container h3 {
    color: #ffffff;
    font-size: 1.3em;
    justify-self: start;
    margin-bottom: 10px;
  }

  &_container p {
    color: #ffffff;
    line-height: normal;
  }

  &_container button {
    justify-self: end;
    padding: 10px;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 1.2em;
    font-weight: bold;
  }

  &_container button:hover {
    background-color: #f2f2f2;
    color: #00cc99;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px) {
    &_container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

}