/*
  The dropdown component for attention. Like "Most Popular" or "Top Tags" on dashboard.
*/
.attblock {
  &-closed {
    margin: 0px !important;

    > span {
      flex: 1;
      background-color: $border-color;
      border-radius: $space-tiny;
      animation-name: closeFlex;
      animation-timing-function: ease-out;
      animation-duration: 0.2s;
    }
  }

  &-closed + div {
    overflow: hidden;
    height: 0;
    padding: 0;
    border: 0;
  }

  &-opened {
    border-bottom: $space-tiny solid $error-color;

    > span {
      background-color: $error-color;
      flex: none;
      animation-name: openFlex;
      animation-timing-function: ease-out;
      animation-duration: 0.2s;
      border-top-left-radius: $space-tiny;
      border-top-right-radius: $space-tiny;
    }
  }

  @keyframes closeFlex {
    from { flex: none }
    to { flex: 1 }
  }

  @keyframes openFlex {
    from { flex: 1 }
    to { flex: none }
  }
}

.attblock {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preload .attblock-opened span:first-child {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.preload .attblock-closed span:first-child {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.attblock h2 {
  display: flex;
  color: #ffffff;
  margin-bottom: $space;
  font-size: 1.1em;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.attblock h2:hover {
  cursor: pointer;
}

.attblock h2 > span {
  color: #ffffff;
  padding: $space-half;
  font-size: inherit;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}