.code {
  &_container {
    border: 1px solid #cccccc;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &_wrapper {
    box-sizing: content-box;
  }

  &_container pre {
    margin: 0px;
    tab-size: 3;
  }

  &_container code {
    word-break: keep-all;
    padding: 10px;
    box-sizing: border-box;
    line-height: 20px !important;
    font-family: 'Ubuntu Mono', monospace !important;
  }
}