.graph {

  &_svg-center {
    
  }

  &_axis {
    stroke: #404040;
    stroke-width: 0;
  }

  &_axis .tick {
    stroke-width: 0;
  }

  &_line {
    stroke: #00cc99;
    stroke-width: 2;
    fill: none;
  }

}