.spinner {
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-top: 2px solid #0bf;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.loader {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  width: 100%;
  height: 3px;
  background-color: #fff;
  overflow: hidden;
}

.loaderbar {
  height: 3px;
  width: 25px;
  background: #0bf;
  animation: lefttoright 0.5s linear infinite;
}

@keyframes lefttoright {
  0% { margin-left: -25px; }
  100% { margin-left: 100%; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
