.pinned {

  &-listings {
    display: grid;
    background-color: #fff;
    border: $border;
    overflow-y: auto;
    max-height: 40vh;
    border-radius: $space-tiny;
  }

  &-listings a {
    padding: $space;
    border-bottom: $border;
  }

  &-listings a:last-child {
    border-bottom: none;
    padding-bottom: 10px;
  }

  &-mini {
    font-size: 1.2em;
  }

  &-mini:hover {
    cursor: pointer;
  }

  &-button {
    font-size: $space;
    border: $border;
    background-color: #fff;
    padding: $space-half;
    border-radius: $space-tiny;
  }

  &-button span {
    margin: 0 !important;
  }

  &-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }

  &-button:focus {
    outline: 0;
  }

  &-active {
    border: 1px solid $error-color;
    background-color: $error-color;
    color: white;
    font-weight: bold;
  }

  &-active:hover {
    background-color: $error-color;
  }
}

.pinned {
  margin-top: $space * 2;
}