.silisting {
  display: grid;
  grid-template-columns: auto 1fr;
  text-decoration: none;
  color: #404040;
  font-weight: normal;

  > .image {
    width: 5vw;
    height: 5vw;
    min-width: $space*6;
    min-height: $space*6;
    background-origin: border-box;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: $space-tiny;
  }

  > .info {
    padding: $space;

    > h1 {
      font-size: 1em;
    }
  }
}

.silisting:hover {
  text-decoration: none;
  color: #404040;
}

.silisting:hover h1 {
  color: $primary-color;
}